h1 {
	font-size: 2.5em;
	color: #333;
	font-weight: 700;
	margin: 0.67em 0;
}

h2 {
	font-size: 2em;
	color: #333;
	font-weight: 700;
	margin: 0.67em 0;
	border-bottom: 1px solid #eee;
}

h3 {
	font-size: 1.5em;
	color: #333;
	font-weight: 700;
	margin: 0.67em 0;
	border-bottom: 1px solid #eee;
}

h4 {
	font-size: 1.17em;
	color: #333;
	font-weight: 700;
	margin: 0.67em 0;
	border-bottom: 1px solid #eee;
}

h5 {
	font-size: 1em;
	color: #333;
	font-weight: 700;
	margin: 0.67em 0;
}

h6 {
	font-size: 0.83em;
	color: #333;
	font-weight: 700;
	margin: 0.67em 0;
}

h1::after,
h2::after,
h3::after,
h4::after {
  content: ' #';
  color: #eee;
  margin: 0.67em 0;
  opacity: 0;
  transition: all 0.3s;
}

h1:hover::after,
h2:hover::after,
h3:hover::after,
h4:hover::after {
  opacity: 1;
}

p {
	font-size: 1em;
	color: #333;
	margin: 1em 0;
}
